

.s{
    background-color: rgb(173, 173, 247);
    width : 100vw;
    height :100px;
    background:transparent;
    font-size: 100px;
    text-align: center;
   
}
.h{
    width: 100vw;
    height: 100px;
    background-color:  rgb(173, 173, 247);
    display: flex;

}
.img1 {
    width:100vw;
    height:55vh;
    margin-bottom: -10px;

    
    
}

.hbd{
     margin: 0;
      padding: 0;
      overflow: hidden;
      height: 100vh;
      width: 100vw;

}

.lbd{
     margin: 0;
      padding: 0;
      overflow: hidden;
      height: 100vh;
      width: 100vw;

}

.sbd{
     margin: 0;
      padding: 0;
      overflow: hidden;
      height: 100vh;
      width: 100vw;

}

.abd{
     margin: 0;
      padding: 0;
      overflow: hidden;
      height: 100vh;
      width: 100vw;

}

.adbd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.busbd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.carbd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.lorrybd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.motorbd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.weelbd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.vanbd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.youbd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.updatebd{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

a {text-decoration:none;}

.b1{
    margin-left: 65px;
    margin-top:20px;
    width :150px;
    height :50px;
    background-color: rgb(244, 250, 250);
    color: black;
    border-radius: 10px;
    
}
nav {
    background-color: rgb(173, 173, 247);
    width : 100vw;
    height : 100px;

}

li {
    display:inline;
    font-size: 30px;
    color: black;
    margin-left: 30px;
  
    
}
ul {
    display:inline;
    margin-top: 20px;
    
}
.b2{
    background-color: blue;
    font-size: 30px;
    margin-right: 10px;
    
}

.span {
    font-size: 50px;
    margin-right: 450px;

}

 .logindiv1{
        color: black;
        font-size: 50px;
        margin-top: 20px;
        text-align:center;
    }
    
.logindiv2{
    text-align: center;
    font-size: 50px;
    color:black;
    margin-top: 30px;
}
.bu1login{
    font-size: 40px;
    color: black;
    background-color: aqua;
}
.bu2login{
    font-size: 40px;
    color: black;
    background-color: aqua;
}
.divbu1login{
    text-align: center;
    margin-top: 20px;
}
.divbu2login{
    text-align: center;
    margin-top: 20px;
}
.tx1login{
    width:300px;
    height:30px;
    margin-left: 100px;
}

.tx2login{
    width:300px;
    height:30px;
    margin-left: 30px;
}
.tx3login{
    width:300px;
    height:30px;
    margin-left: 130px;
}
.div1singup{
    color: black;
    font-size: 50px;
    margin-top: 20px;
    text-align:center;

}
.div2singup {
    font-size: 50px;
    color:black;
    margin-top: 30px;
    margin-left: 350px;

}
.divbusingup{
    margin-top: 30px;
    margin-left: 260px;
}
.busingup{
    font-size: 40px;
    color: black;
    background-color: aqua;
}
.tx1singup{
    width:300px;
    height:30px;
    margin-left: 261px;
}
.tx2singup{
    width:300px;
    height:30px;
    margin-left: 188px;
}
.tx3singup{
    width:300px;
    height:30px; 
    margin-left: 170px;  
}
.tx4singup{
    width:300px;
    height:30px;
    margin-left: 291px;

}
.tx5singup{
    width:300px;
    height:30px;
    margin-left: 292px;
}
.div1addnew{
    color: black;
    font-size: 50px;
    margin-top: 30px;
    text-align:center;
}
.div2addnew{
    font-size: 40px;
    color:black;
    margin-top: 40px;
    margin-left: 300px;
}
.tx0addnew{
    width:300px;
    height:30px;
    margin-left: 223px;
}
.tx1addnew{
    width:300px;
    height:30px;
    margin-left: 266px;

}
.tx2addnew{
    width:300px;
    height:30px;
    margin-left: 206px;

}
.tx3addnew{
    width:300px;
    height:30px;
    margin-left: 269px;

}
.tx4addnew{
    width:300px;
    height:30px;
    margin-left: 253px;
}
.tx5addnew{
    width:300px;
    height:30px;
    margin-left: 236px;
}
.tx6addnew{
    width:300px;
    height:50px;
    margin-left: 250px;
}
.tx7addnew{
    width:300px;
    height:30px;
    margin-left: 280px;

}
.buaddnew{
    font-size: 40px;
    color: black;
    background-color: aqua;
}
.divbuaddnew{
    margin-left: 300px;
    margin-top: 10px;
}
.div1moter{
    display:flex;
    flex-direction: row;
    
    font-size: 25px;
}
.div2moter{
   
    font-size: 25px;
}
.divsecond{
    margin-top: 50px;
}
.divfirst{
    display: flex;

    margin-top: 30px;
}
.diva{
    margin-left: 40px;
}
.divb{
    margin-left: 200px;
}
.divc{
    margin-left: 200px;
}
.divd{
    margin-left: 250px;
}
.dive{
    margin-left: 40px;
}
.divf{
    margin-left: 200px;
}
.divg{
    margin-left: 200px;
}
.divh{
    margin-left: 250px;
}
img{
    width: 175px;
    height:100px;
}
.div1abou{
    font-size: 35px;
    text-align: center;
}

.div2abou{
    
    font-size: 40px;
    text-align: center;
}
.div3abou{
    font-size: 40px;
}

.div4abou{
    font-size: 40px;
}
.delete{
    background-color: aqua;
    width: 70px;
    height: 40px;

    
}



